<h2><%= "#{@blogs["title"]}" %></h2>
<p>
  <strong>Content</strong><br> <%= @blogs["content"] %><br>
  <strong>Author</strong><br> <%= @blogs["author"] %><br>
  <strong>Author's Website</strong><br> <%= @blogs["author_website"] %><br>
</p>