<h1>Blog app<h1>

  <form action="/blog" method="POST">
  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="content">Content</label><br>
    <input type="text" name="content" id="content">
  </p>
  <p>
    <label for="author">Author</label><br>
    <input type="text" name="author" id="author">
  </p>
  <p>
    <label for="author_website">Author Website</label><br>
    <input type="text" name="author_website" id="author_website">
  </p>
  <p>
    <input type="submit" value="Add Blog">
  </p>
</form>
<ul>
<% @blogs.each do |blog| %>
  <li><%= "#{blog["title"]} #{blog["content"]} #{blog["author"]} #{blog["author_website"]}" %></li>
<% end %>
</ul>