<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form action="" method="POST">
    <input name="action" value="submit" type="hidden"> Your name:<br>
    <input name="name"  type="text"><br> Your email:<br>
    <input name="email" type="text"><br> Your message:<b>
    <textarea name="message" rows="7" cols="30">
    </textarea><br>
    <input value="Send email" type="submit">
    </form>
  </body>
</html>