<!DOCTYPE html>
<html>
  <head>
    
    <link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/style.css" type="text/css" rel="stylesheet">
    <title>WDI GA</title>
  </head>
  <body>
    <header>
      <img src="/img/ga.png"
    </header>
    <nav>
      <div id="navcontainer">
        <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mike">Mike</a></li>
        <li><a href="/tito">Tito</a></li>
        <li><a href="/latoya">LaToya</a></li>
        <li><a href="/marlon">Marlon</a></li>
        <li><a href="/janet">Janet</a></li>
        <li><a href="/jermaine">Jermaine</a></li>
        <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <p>Here is the the footer <a href="/contact">contact</a> <a href="/about">about</a> <a href="/home">home</a></p>

      </footer
  </body>
</html>