
 


     
    <header>  
     <img  src="/img/camera.png"> 
     </header>  
 
  <h1>Search Movies</h1>      
 <form action="/search" method="GET">     
 <div class="input-group">
      <span class="input-group-btn">
        <input class="btn btn-default btn-lg"  type="submit" value="Lookup Movie">
      </span>
      <input type="text" class="form-control" name="search" placeholder="Frozen">
  </div>
   <div class="input-group">
        <input class="btn btn-default btn-lg" name="lucky" type="submit" value="Feeling Lucky!">
  </div>
